{% extends 'auctions/category.html'%}
{% load static %}

{% block category %}
{% if category == 'None' %}
<h1>Search results for {{ query }}</h1>
{% else %}
<h1>Search results for {{ query }} in {{ category }}</h1>
{% endif %}
<hr>
<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4" id="listing-container">
{% for result in results %}
{% if result.active == True %}
<div class="col">
    <div class="card listing_card bg-light">
        <div class="listing_content d-flex flex-column">
            <div class="listing_image">
                {% if result.image != "" %}
                <img src="{{ result.image }}" alt="{{ result.item }}" class="card-img-top">
                {% elif result.image == "" %}
                <img src="{% static 'auctions/CS50logo.png' %}" alt="CS50 logo" class="card-img-top">              
                {% endif %}    
            </div>
            <div class="card-header bg-light border-info">
                <h3 class="card-title">
                    <strong><a href="{% url 'listing' result.id %}">{{ result.item }}</a></strong>
                </h3>
            </div>
            <div class="card-body flex-grow-1">
                <div class="listing_description">
                    <div class="description_text"><p>{{ result.description }}</p></div>
                    <div class="price">
                        {% if result.current_price == 0 %}
                        <span class="listing_price">${{ result.starting_bid }}</span>
                        {% else %}
                        <span class="listing_price">${{ result.current_price }}</span>
                        {% endif %}
                    </div>
                    <div class="listed_by"><p><em>Listed by: {{ result.user.first_name }} {{ result.user.last_name }}</em></p></div>   
                </div>
                <p class="card-text"><small class="text-body-secondary">Posted on {{ result.date }}</small></p>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% empty %}
Your search didn't return any results
{% endfor %}
</div>


{% endblock %}